<!DOCTYPE html>
<html>

    {% block head %}
        <head>

            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            {% javascripts
		        '@AppBundle/Resources/public/assets/js/jquery.min.js'
		        '@AppBundle/Resources/public/assets/js/jquery.dropotron.min.js'
		        '@AppBundle/Resources/public/assets/js/jquery.scrollgress.min.js'
		        '@AppBundle/Resources/public/assets/js/skel.min.js'
		        '@AppBundle/Resources/public/assets/js/util.js'
		        '@AppBundle/Resources/public/assets/js/main.js' %}
		        <script src="{{ asset_url }}"></script>
			{% endjavascripts %}

			<!--[if lte IE 8]><script src="/bundles/app/assets/js/ie/respond.min.js"></script><![endif]-->
		    <!--[if lte IE 8]><script src="/bundles/app/assets/js/ie/html5shiv.js"></script><![endif]-->

			{% stylesheets 'bundles/app/assets/css/main.css'
			               'bundles/app/assets/css/font-awesome.min.css'
			               'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic' filter='cssrewrite' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
    		{% endstylesheets %}

			<!--[if lte IE 8]><link rel="stylesheet" href="/bundles/app/assets/css/ie8.css" /><![endif]-->

            <title>{% block title %}{% trans %}Jan Franko{% endtrans %}{% endblock %}</title>

        </head>
    {% endblock %}

    {% block body %}

	<body class="landing">

		<header
			id="header"
			class="alt">

				<nav id="nav">

					<ul>

						<li>

							<a href="{{ path('index') }}#holistic"
								title="{% trans %}Holistic Massage{% endtrans %}">
								{% trans %}Holistic Massage{% endtrans %}
							</a>

							<ul>

								<li>
									<a href="{{ path('index') }}#shiatsu"
										title="{% trans %}Shiatsu{% endtrans %}">
										{% trans %}Shiatsu{%endtrans %}
									</a>
								</li>

								<li>
									
									<a href="{{ path('index') }}#lavovekameny"
										title="{% trans %}Masáž s lávovými kameny{% endtrans %}">
										{% trans %}Masáž s lávovými kameny{%endtrans %}
									</a>

								</li>

								<li>
									<a href="{{ path('index') }}#tui-na"
										title="{% trans %}Lomi Lomi Nui - Havajská masáž milujících rukou{% endtrans %}">
										{% trans %}Lomi Lomi Nui{%endtrans %}
									</a>
								</li>

								<li>

									<a href="{{ path('index') }}#tui-na"
										title="{% trans %}Ma-uri - Polynéská masáž{% endtrans %}">
										{% trans %}Ma-uri{%endtrans %}
									</a>

								</li>

								<li>
									<a href="{{ path('index') }}#tui-na"
										title="{% trans %}Tui-na - Tradiční Čínská energetická masáž{% endtrans %}">
										{% trans %}Tui-na{%endtrans %}
									</a>
								</li>
								
								<li>
									<a href="{{ path('index') }}#thajska"
										title="{% trans %}Abhyanga - Tradiční indická masáž se sezamovým olejem{% endtrans %}">
										{% trans %}Abhyanga{%endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#thajska"
										title="{% trans %}Baňkování a moxování{% endtrans %}">
										{% trans %}Baňkování a moxování{%endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#thajska"
										title="{% trans %}Thajská masáž - Tradiční přes oděv, nebo olejová, či aromaterapeutická{% endtrans %}">
										{% trans %}Thajská masáž{%endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#anticelulitidni"
										title="{% trans %}Manuální lymfodrenáž - léčebná a kosmetická{% endtrans %}">
										{% trans %}Manuální lymfodrenáž{%endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#anticelulitidni"
										title="{% trans %}Anticelulitidní masáž - kvalitní formovací masáž postavy s peelingem a zábalem{% endtrans %}">
										{% trans %}Anticelulitidní masáž{%endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#indicka"
										title="{% trans %}Indická masáž hlavy{% endtrans %}">
										{% trans %}Indická masáž hlavy{%endtrans %}
									</a>
								</li>

								<li>
									
									<a href="{{ path('index') }}#yinyang"
										title="{% trans %}Omlazující a revitalizační masáž obličeje (Anti-aging pro muže i pro ženy){% endtrans %}">
										{% trans %}Anti-aging pro muže i pro ženy{%endtrans %}
									</a>

								</li>
								
								<li>
									<a href="{{ path('index') }}#yinyang"
										title="{% trans %}Muzikoterapie - rezonanční masáž pomocí tibetských mís a gongu{% endtrans %}">
										{% trans %}Muzikoterapie{%endtrans %}
									</a>
								</li>
								
								<li>
									
									<a href="{{ path('index') }}#yinyang"
										title="{% trans %}Specialita, kterou naši klienti budou milovat: 4 ruční Yin and Yang meridiánová masáž{% endtrans %}">
										{% trans %}4 ruční Yin and Yang meridiánová masáž{%endtrans %}
									</a>

								</li>
								
							</ul>
							
						</li>

						<li>
							<a href="{{ path('index') }}#tao"
								title="{% trans %}TAO{% endtrans %}">
								{% trans %}TAO{%endtrans %}
							</a>
						</li>
	
						<li>
							<a href="{{ path('index') }}#about"
								title="{% trans %}About{% endtrans %}">
								{% trans %}About{%endtrans %}
							</a>
						</li>

						<li>

							<a href="{{ path('index') }}#kurzy"
								title="{% trans %}kurzy - školení - tréninky – osvětové prednášky - meditace{% endtrans %}">
								{% trans %}Kurzy{% endtrans %}
							</a>

							<ul>

								<li>
									<a href="{{ path('index') }}#psychorelax"
										title="{% trans %}kurzy - školení - tréninky – osvětové prednášky - meditace{% endtrans %}">
										{% trans %}Kurz psychorelaxačnej a harmonizační masáže{% endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#kurzy"
										title="{% trans %}Kurz diagnostiky a reflexní terapie chodidel{% endtrans %}">
										{% trans %}Diagnostiky a Reflexní terapie Chodidel{% endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#kurzy"
										class="banner"
										title="{% trans %}Kurz pránického léčení{% endtrans %}">
										{% trans %}Pránické léčení{% endtrans %}
									</a>
								</li>
								
							</ul>

						</li>
	
						<li>

							<a href="{{ path('index') }}#"
								title="{% trans %}Classes{% endtrans %}">
								{% trans %}Classes{% endtrans %}
							</a>

							<ul>

								<li>
									<a href="{{ path('index') }}#holistic_masáže_pro_zdraví"
										title="{% trans %}masáže .pro zdraví - relaxační - terapeutické - energetické - kosmetické{% endtrans %}">
										{% trans %}masáže pro zdraví{% endtrans %}
									</a>
								</li>
								
								<li>
									<a href="{{ path('index') }}#holistic_Tradiční_Čínské_Medicíny"
										title="{% trans %}diagnostika podle metod Tradiční Čínské Medicíny (TCM){% endtrans %}">
										{% trans %}diagnostika Tradiční Čínské Medicíny{% endtrans %}
									</a>
								</li>
								
								<li>
									<a href="{{ path('index') }}#Qigong_čchi_kung"
										title="{% trans %}Classes{% endtrans %}">
										{% trans %}Qigong / Čchi kung – energetické cvičení a harmonizace{% endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#coaching"
										title="{% trans %}umění pěstování života – individuální poradenství a koučink{% endtrans %}">
										{% trans %}umění pěstování života{% endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#shop"
										title="{% trans %}prodej výrobků alternativní medicíny, doplňků výživy a přírodní kosmetiky{% endtrans %}">
										{% trans %}prodej výrobků alternativní medicíny{% endtrans %}
									</a>
								</li>
								
								<li>
									<a href="{{ path('index') }}#vyziva"
										title="{% trans %}poradenství v oblasti zdravé výživy, redukce nadváhy, celkového zlepšení zdraví{% endtrans %}">
										{% trans %}poradenství v oblasti zdravé výživy{% endtrans %}
									</a>
								</li>
							
							
								<li>
									<a href="{{ path('index') }}#tréninky"
										title="{% trans %}tréninky{% endtrans %}">
										{% trans %}tréninky{% endtrans %}
									</a>
								</li>

								<li>
									<a href="{{ path('index') }}#kurzy_osvětové"
										title="{% trans %}osvětové{% endtrans %}">
										{% trans %}osvětové{% endtrans %}
									</a>
								</li>
								
								<li>
									<a href="{{ path('index') }}#kurzy_prednášky"
										title="{% trans %}prednášky{% endtrans %}">
										{% trans %}prednášky{% endtrans %}
									</a>
								</li>
								
								<li>
									<a href="{{ path('index') }}#kurzy_meditace"
										title="{% trans %}meditace{% endtrans %}">
										{% trans %}meditace{% endtrans %}
									</a>
								</li>
								
							</ul>
							
						</li>

						<li>
							<a href="{{ path('index') }}#contact"
								title="{% trans %}Contact{% endtrans %}">
								{% trans %}Contact{%endtrans %}
							</a>
						</li>
	
						<li>
							<a href="{{ path('index') }}#booking"
							    class="button"
								title="{% trans %}Book Online{% endtrans %}">
								{% trans %}Book Online{% endtrans %}
							</a>
						</li>

						<li>
	
							<a href="#" class="icon fa-twitter">
								<span class="label">Twitter</span>
							</a>
	
						</li>

						<li>
							<a href="#" class="icon fa-facebook">
								<span class="label">Facebook</span>
							</a>
						</li>
	
						<li>
							<a href="#" class="icon fa-instagram">
								<span class="label">Instagram</span>
							</a>
						</li>
	
						<li>
							<a href="#" class="icon fa-google-plus">
								<span class="label">Google+</span>
							</a>
						</li>

						<li>
							<ul class="icons">
								<li><a href="#">en</a></li>
								<li><a href="#">cs</a></li>
								<li><a href="#">sk</a></li>
								<li><a href="#">jp</a></li>
							</ul>
						</li>

					</ul>

				</nav>

		</header>

		<section id="banner">
		
			<header class="major">

				<h2>

					<a href="{{ path('index') }}#janfranko">

						{% image '@AppBundle/Resources/public/images/logo.png' %}
							<img src="{{ asset_url }}" />
						{% endimage %}

						{% trans %}Jan Franko{% endtrans %}
					</a>

				</h2>

				<h3>{% trans %}Holistic Healing Therapist since 1999 with pure love to learn and share.{% endtrans %}</h3>

			</header>

		</section>
		
		<section id="template"  class="box">
		
			<header class="major">

				<h2>
					{% trans %}Holistic Massage{% endtrans %}
				</h2>

				<h3>{% trans %}Holistic Healing Therapist since 1999 with pure love to learn and share.{% endtrans %}</h3>

			</header>

		</section>
		
		<section id="shiatsu" class="box">
			<header class="major">
				<h3>{% trans %}Shiatsu{%endtrans %}</h3>
			</header>
				
			<div>
			</div>

		</section>
		
		<section id="about" class="box">

			<header>

				<h1>
					{% trans %}Uvod{% endtrans %}
				</h1>

			</header>
			
			<p>{% trans %}Dobře provedená masáž těla harmonizuje organismus jako celek a pokud je pravidelná, může podstatnou měrou zlepšit zdravotní stav.{% endtrans %}</p>
			<p>{% trans %}Masáž je nejstarším prostředkem pomoci při zdravotních problémech. Člověk si podvědomě tře místa, kde ho něco bolí. Tento instinkt je v nás pevně zakořeněný.{% endtrans %}</p>
			<p>{% trans %}Denní počet klientů je limitován, aby byla zajištěna dostatečná kvalita provedení masáže. Krédem centra je individuální přístup a ušití dané masáže na míru dle specifických problémů či požadavků klienta. Masáž není práce, masáž je rituál, výměna energií, sdílení ochoty pomoci a dát si pomoci.{% endtrans %}</p>

		</section>

		<section id="booking">

			<header>

				<h1>

					<a href="{{path('index') }}#header"
					   title="{% trans %}Booking Online{% endtrans %}">

						{% trans %}Booking Online{% endtrans %}

					</a>

				</h1>

			</header>

			<article>
				{% trans %}Booking Online{% endtrans %}
			</article>

		</section>

	</body>
    {% endblock %}

</html>